.title-container {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.artemis-logo {
  max-width: 10em;
  margin-right: 20px;
}

.title_text {
  text-align: center;
  max-width: 1000px;
}

.title_header {
  
}